svg(
viewbox="0 0 1000 160"
preserveAspectRatio="none"
class="triangal triangal_fill_work triangal_fill_work_left")
    polygon(points="0,0 0,160 1000,160")
svg(
viewbox="0 0 1000 160"
preserveAspectRatio="none"
class="triangal triangal_fill_work triangal_fill_work_right")
    polygon(points="0,160 1000,160 1000,0")