section.section.works
    svg(
    viewbox="0 0 1000 160"
    preserveAspectRatio="none"
    class="triangal triangal_fill_work triangal_fill_work_left")
        polygon(points="0,0 0,160 1000,160")
    svg(
    viewbox="0 0 1000 160"
    preserveAspectRatio="none"
    class="triangal triangal_fill_work triangal_fill_work_right")
        polygon(points="0,160 1000,160 1000,0")
    h1.title.works__title_pos Мои работы
    .works__left
        .works__left__content
            h2.works__title.subtitle Сайт школы онлайн образования
            .works__spec HTML, CSS, JAVASCRIPT
            .works__look-btn Посмотреть сайт
    .works__right
        include ../sections/_slider

